<template>
  <div class="cosmo-list">
    <app-planets-list :planets="planets">
        <h3 class="planets-title">All planets</h3>
    </app-planets-list>
    <app-planet-description></app-planet-description>
    <app-planets-list :planets="favoritePlanets">
      <h3 class="planets-title">Favorite planets</h3>
    </app-planets-list>
  </div>
</template>

<script>

export default {
  data() { return {
      planets: null,
  }},
  methods: {
    fetchPlanetsData() {
      let planetsLink = "https://swapi.co/api/planets/?format=json";

      this.$http.get(planetsLink).then(result => { 
        this.planets = result.body.results;
      });
    },
  },
  created() {
    this.fetchPlanetsData()
  },
  computed: {
    favoritePlanets() {
      return this.$store.getters.favoritePlanets
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .cosmo-list {
    margin-top: 20px;
    color: white;
  }
</style>
