<template>
<div class="planets-list">
  <slot class="planets-title"></slot>
  <div v-if="planets">
    <ul>
      <li v-for="(planet, i) in planets" v-bind:key="i" @click="onPlanetClick(planet)">
        {{ planet.name }}
      </li>
    </ul>
  </div>
</div>
</template>

<script>

export default {
  name: 'PlanetsList',
  props: ['planets'],
  methods: {
    onPlanetClick(planet) {
      this.$store.dispatch('setActivePlanet', planet)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  .planets-list {
    min-height: 390px;
    display: inline-block;
    vertical-align: top;
    width: 160px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #15519a;
    box-shadow: 0 0 15px rgba(51, 75, 156, 0.7), 0 0 15px rgba(51, 75, 156, 0.7) inset;
    ul {
      list-style-type: none;
      text-align: center;
      padding: 0;
      li {
        cursor: pointer;
         &:hover {
          box-shadow: inset 0 0 70px rgba(51, 75, 156, 0.9);
        }
      }
    }
  }

    
</style>
