<template>
  <div class="planet-description">
    <h3 class="title">
      Description  
    </h3>
    <div class="info" v-if="activePlanet">
      <div class="planet-data">
        Name: {{ activePlanet.name }}
      </div>
      <div class="planet-data">
        Rotation diameter: {{ activePlanet.diameter }}
      </div>
      <div class="planet-data">
        Climate: {{ activePlanet.climate }}
      </div>
      <div class="planet-data">
        Gravity: {{ activePlanet.gravity }}
      </div>
      <div class="planet-data">
        Terrain: {{ activePlanet.terrain }}
      </div>
      <div class="planet-data">
        Surface water: {{ activePlanet.surface_water }}
      </div>
    </div>
    <div class="buttons">
      <button class="btn btn-add" @click="onButtonAddClick()">Add to favorite</button>
      <button class="btn btn-remove" @click="onButtonRemoveClick()">Remove from favorite</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PlanetDescription',
  methods: {
    onButtonAddClick() {
      this.$store.dispatch('addActivePlanetToFavorites')      
    },
    onButtonRemoveClick() {
      this.$store.dispatch('removeActivePlanetFromFavorites')      
    }
  },
  computed: {
    activePlanet() {
      return this.$store.getters.activePlanet
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .planet-description {
    min-height: 370px;
    min-width: 400px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    border: 2px solid #15519a;
    box-shadow: 0 0 15px rgba(51, 75, 156, 0.7), 0 0 15px rgba(51, 75, 156, 0.7) inset;
    margin: 0 10px;
    position: relative;
    .title {
      margin-top: 10px;
    }
    .info {
      text-align: left;
      box-sizing: border-box;
      padding-left: 20px;
    }
  }
  .planet-data {
    margin-bottom: 5px;
  }
  .buttons {
    // position: absolute;
    .btn {
      border-radius: 5px;
      border: 2px solid #15519a;
      box-shadow: 0 0 15px rgba(51, 75, 156, 0.7), 0 0 15px rgba(51, 75, 156, 0.7) inset;
      padding: 5px 10px;
      color: white;
      position: absolute;
      bottom: 20px;
      background-color: transparent;
      font-size: 18px;
      &:hover {
        box-shadow: inset 0 0 70px rgba(51, 75, 156, 0.9);
      }
      &-add{
        left: 20px;
      }
      &-remove{
        right: 20px;
      }
    }
  }
</style>
