<template>
  <div id="app">
    <CosmoList/>
  </div>
</template>

<script>
import CosmoList from './components/CosmoList.vue'

export default {
  name: 'app',
  components: {
    CosmoList,
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

#app {
  min-height: 100vh;
  text-align: center;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://bitbucket.org/mitura_tomasz/planets-application/raw/bc1051a672c2983c12bb73de4dac5f5f7eb97a6f/src/assets/img/bg.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  text-align: center;
}
</style>
